
<div class="row">
<div class='col-md-12'>

<div class="btn-group" role="group" >  
<% @dances.each do |dance| %>
<%= link_to dance.name.gsub("\s",'&nbsp;').html_safe, dance_path(dance), :class => "btn btn-sm btn-inverse", :remote => true %>
<% end %>

</div>

<div class="row" id="dance-text">
	<h2>The Dances</h2>
	<%= render :partial => 'dances/dance' %>
</div>
</div>