<h2>The Dances</h2>
<div class="row-responsive">
<div class='span4'>
<ul class='dance'>
<% @dances.each do |dance| %>
<li><%= link_to dance.name.gsub("\s",'&nbsp;').html_safe, dance_path(dance), :remote => true %></li>
<% end %>
</ul>
</div>

<div class="span6" id="dance-text">
	<%= render :partial => 'dances/dance' %>
</div>
</div>