
<section class="row-fluid">
    <h1>Sallyport Sword Dancers</h1>
<section class="span8 offset2">

    <ul class="rslides">
      <li><img src="http://sallyport.s3.amazonaws.com/images/morpeth.jpg" alt=""></li>
      <li><img src="http://sallyport.s3.amazonaws.com/images/Pithead.jpg" alt=""></li>
      <li><img src="http://sallyport.s3.amazonaws.com/images/Tanfield gates.JPG" alt=""></li>
    </ul>
   
</section>
</section>
<section class="row-fluid ">
<div class="span10 offset1" style="margin-top:20px;">

<%= simple_format @intro.content %>
</div>
</section>

        

