<h1>Home</h1>


<style type="text/css" media="screen">
            .slides_container {
                width:570px;
                height:270px;
            }
            .slides_container div {
                width:570px;
                height:270px;
                display:block;
            }
        </style>
    
        
        <script>
            $(function(){
                $("#slides").slides();
            });
        </script>

        <div id="slides">
            <div class="slides_container">
                <div>
                    <img src='http://sallyport.s3.amazonaws.com/images/morpeth.jpg';>
                </div>
                <div>
                    <img src='http://sallyport.s3.amazonaws.com/images/Pithead.jpg'>
                </div>
                <div>
                    <img src='http://sallyport.s3.amazonaws.com/images/Tanfield gates.JPG'>
                </div>
                
            </div>
        </div>

        

