/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */




@import 'twitter/bootstrap';
@import 'twitter/bootstrap/responsive';



#main{
	background:#C0090E;
	padding:10px;
	border:1px dotted grey;
	color:white;

	}

h2 {
	text-align:center;
}

body{
	padding-top:60px;
	font-size:16px;
	
}

ul.dance{
	width:auto;
	margin:15px 10px;
	padding:0px;
	list-style: none outside none;
}

ul.dance li {
	width:auto%;
	line-height:20px;
	margin:5px 10px;
	padding:0px;
}

ul.dance a {
	color:white;
	text-decoration:none;
}

ul.dance a:hover{
	color:yellow;
}

textarea:focus {
    border-color: rgba(255,244,0,.8);
    outline: 0;
    outline: thin dotted \9; /* IE6-9 */
    @include box-shadow(inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(255,244,0,.6));
  }

 input[type='text']:focus {
    border-color: rgba(255,244,0,.8);
    outline: 0;
    outline: thin dotted \9; /* IE6-9 */
    @include box-shadow(inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(255,244,0,.6));
  }

 

