

@import "bootstrap";


#main{
	background:#C0090E;
	padding:10px;
	border:1px dotted grey;
	color:white;

	}



body{
	padding-top:60px;
	font-size:16px;
	
}

ul.dance{
	width:auto;
	margin:15px 10px;
	padding:0px;
	list-style: none outside none;
}

ul.dance li {
	width:auto;
	line-height:20px;
	margin:5px 10px;
	padding:0px;
}

a {
	color:white;
	text-decoration:none;
}

 a:hover{
	color:yellow;

}

 ul.nav  ul.dropdown-menu li a {
	color:white;
	background-color:#191919;
}

ul.nav  ul.dropdown-menu li a:hover,
ul.nav  ul.dropdown-menu li a:focus
 {
	color:yellow;
	background-color:#C0090E;
	background-image: none;
	
}

textarea:focus {
    border-color: rgba(255,244,0,.8);
    outline: 0;
    outline: thin dotted \9; /* IE6-9 */
    @include box-shadow(inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(255,244,0,.6));
  }

 input[type='text']:focus {
    border-color: rgba(255,244,0,.8);
    outline: 0;
    outline: thin dotted \9; /* IE6-9 */
    @include box-shadow(inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(255,244,0,.6));
  }

  input[type='password']:focus {
    border-color: rgba(255,244,0,.8);
    outline: 0;
    outline: thin dotted \9; /* IE6-9 */
    @include box-shadow(inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(255,244,0,.6));
  }

  input[type='email']:focus {
    border-color: rgba(255,244,0,.8);
    outline: 0;
    outline: thin dotted \9; /* IE6-9 */
    @include box-shadow(inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(255,244,0,.6));
  }

 

