

@import "bootstrap";


#main{
	background:#C0090E;
	padding:10px;
	border:1px dotted grey;
	color:white;

	}


body{
	
	font-size:16px;
	
}

ul {
  list-style:none;
}

ul.dance{
	width:auto;
	margin:15px 10px;
	padding:0px;
	list-style: none outside none;
}

ul.dance li {
	width:auto;
	line-height:20px;
	margin:5px 10px;
	padding:0px;
}

 a {
	color:white;
	text-decoration:none;
}
a.btn:hover, a:hover{
	color:yellow;

}


 ul.nav  ul.dropdown-menu li a {
	color:white;
	background-color:#191919;
}

ul.nav  ul.dropdown-menu li a:hover,
ul.nav  ul.dropdown-menu li a:focus
 {
	color:yellow;
	background-color:#C0090E;
	background-image: none;
	
}

 ul.nav-pills > li > a:hover {
    background-color: #000
}

 .dropdown.open a{
  background-color: #000;
  color:white;
}

.dropdown.open{
  background-color: #000;
}

.nav.navpills > li.dropdown.open:hover{
  background-color:#000;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus, .nav > li > a:focus   {
  background-color:#000 !important;
}

textarea:focus {
    border-color: rgba(255,244,0,.8);
    outline: 0;
    outline: thin dotted \9; /* IE6-9 */
    @include box-shadow(inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(255,244,0,.6));
  }

 input[type='text']:focus {
    border-color: rgba(255,244,0,.8);
    outline: 0;
    outline: thin dotted \9; /* IE6-9 */
    @include box-shadow(inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(255,244,0,.6));
  }

  input[type='password']:focus {
    border-color: rgba(255,244,0,.8);
    outline: 0;
    outline: thin dotted \9; /* IE6-9 */
    @include box-shadow(inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(255,244,0,.6));
  }

  input[type='email']:focus {
    border-color: rgba(255,244,0,.8);
    outline: 0;
    outline: thin dotted \9; /* IE6-9 */
    @include box-shadow(inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(255,244,0,.6));
  }

 #main input, textarea {
  color:black;
 }

 #main textarea{
 	minheight:300px;
 }

 div#main form.form-horizontal div.form-group div.col-sm-8 input.btn.btn-inverse{
   background-color: #111;
   color:white;
 }

 div#main form.form-horizontal div.form-group div.col-sm-8 input.btn.btn-inverse:hover {
   background-color: #000;
   color:white;
 }

 .btn-inverse{
  background-color: #111!important;
  color:white !important;
 }

 .btn-inverse:hover{
  background-color: #222 !important;
  color:yellow !important;
  }

  .width-maxed{
  max-width:400px;
  }

div#next-practice{
  text-align:center;
  margin-bottom:20px;
  font-weight:bold;
  a{
    color:#CEB421;
   }
}