/*! http://responsiveslides.com v1.53 by @viljamis */

 ul.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0 !important;
  margin: 0 10px 0 0;
  border:1px solid #000;
  }

ul.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  list-style: none;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  
  }


section.row ul.rslides li img{
  width:100% !important;
  height:auto !important;
}